{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
<section id="page-content">
        <div class="container">

            <div class="page-title">
                    <h1>{% trans 'Automatic Doors' %}</h1><br>
                    <div class="breadcrumb float-left">
                            <ul>
                                <li><a href="{% url 'home' %}">{% trans 'Home' %}</a>
                                </li>
                                <li class="active"><a href="#">{% trans 'Automatic Doors' %}</a>
                                </li>
                            </ul>
                        </div>
            </div>

            <div id="blog" class="post-thumbnails">

                {% for x in all_objects %}
                <div class="post-item">
                    <div class="post-item-wrap">
                        <div class="post-image">
                            <a href="{% url 'automatic-doors-content' slug=x.slug %}">
                                {% if LANGUAGE_CODE == "de" %}
                                <img alt="" src="{{ x.image_de.url }}">
                                {% else %}
                                {% if x.image_en %}
                                <img alt="" src="{{ x.image_en.url }}">
                                {% else %}
                                <img alt="" src="{{ x.image_de.url }}">
                                {% endif %}
                                {% endif %}
                            </a>
                            <span class="post-meta-category"><a class="text-light">{% trans 'Automatic Doors' %}</a></span>
                        </div>
                        <div class="post-item-description">
                            <h2><a href="{% url 'automatic-doors-content' slug=x.slug %}">
                                {% if LANGUAGE_CODE == 'de' %}
                                {{ x.title_de }}
                                {% else %}
                                {{ x.title_en }}
                                {% endif %}
</a></h2>
                            <p>{{ x.product_type }}</p>
                            <p>
                                {% if LANGUAGE_CODE == 'de' %}
                                {{ x.content_de|safe|truncatewords:25 }}
                      {% else %}
                      {{ x.content_en|safe|truncatewords:25 }}
                      {% endif %}
                        </p>
                            <a href="{% url 'automatic-doors-content' slug=x.slug %}" class="item-link">Read More <i class="fa fa-arrow-right"></i></a>

                        </div>
                    </div>
                </div>
                {% endfor %}

                      <div class="pagination text-center">
                          <span class="step-links ">
                            {% if all_objects.has_previous %}
                                <a class="btn btn-outline-primary btn-sm" href="?sayfa=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">1</a>
                                <a class="btn btn-outline-primary btn-sm" href="?sayfa={{ all_objects.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% trans 'Back' %}</a>
                            {% endif %}

                            <span class="current">
                                {% trans 'Page' %} {{ all_objects.number }} / {{ all_objects.paginator.num_pages }}
                            </span>

                            {% if all_objects.has_next %}
                                <a class="btn btn-outline-primary btn-sm" href="?sayfa={{ all_objects.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% trans 'Next' %}</a>
                                <a class="btn btn-outline-primary btn-sm" href="?sayfa={{ all_objects.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% trans 'Last' %}</a>
                            {% endif %}
                          </span>
                      </div>
        </div>

      </div>
    </section>
{% endblock %}
